

<div class="container flex_display">
<% @users.each do |user| %>
  <div class="users-container flex_display">
    <div class="person-image">
    
    
     
    </div>
    <div class="user_details">
      <h2><%= link_to user.Name, user, class: "link_button"  %></h2>
      <p>Number of posts: <%= user.PostsCounter %></p>
    </div>
  </div>
<%end%>
</div>