/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  box-sizing: border-box;
}

.flex_display {
  display: flex;
  flex-direction: row;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: whitesmoke;
}

.container {
  width: 60%;
  margin-top: 2%;
  gap: 5%;
  flex-direction: column;
  height: 100%;
}

.users-container {
  margin-top: 4px;
  gap: 32px;
  width: 100%;
}

.user_details,
.user-bio,
.users_post,
.comments_content,
.post-container {
  border: 2px solid black;
  width: 100%;
  padding: 20px;
  margin-top: 0.3125rem;
}

.user_details > p {
  text-align: end;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.user-posts > button {
  margin-left: 400px;
  margin-top: 20px;
}

.link_button {
  text-decoration: none;
  color: #000;
  font-size: 1.125rem;
}

.posts-container {
  margin-bottom: 4px;
}

.post-container > h6 {
  text-align: end;
}

.pagination {
  margin-left: 400px;
  font-size: 18px;
}
